body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}
.logo{
    background-color: azure;
    display: flex;
    justify-content: center;
}
.cabecalho{
    background-color: aqua;
    padding: 30px;
}

.cabecalho-p1{
   
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.cabecalho-item{
display: flex;
justify-content: center;

}

.cabecalho-form{
    padding: 30PX;
    display: flex;
justify-content: center;

}

.cabecalho-lista{
    display: flex;
    justify-content: space-evenly;

}

.conteudo-1{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.conteudo-2{
    background-color: antiquewhite;
   padding: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 24px;
}

.menu-item{
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
